<h1>Itineraries#new</h1>
<%= form_for(@itinerary) do |f| %>
    <div class="field">
        <p>day</p> 
        <%= f.text_field :day%>
    </div>
    <div class="field">
        <p>event name</p> 
        <%= f.text_field :event_name%>
    </div>
    <div class="field">
        <p>event time</p> 
        <%= f.datetime_field :event_time%>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
